   <div class="row">

      <h2>
        <%= @course.title %>
      </h2>
      <p>
        <%= @course.description %> 
      </p>
        <%= link_to "Watch the full Course" , course_chapters_path(@course) %>
  <li>
    
   <%if current_user.admin? %>
     <%= link_to "Create a Chapter" , new_course_chapter_path(@course) %>
   <% end %>
  </li>
</div>
