<div class="row">
  <div class="col-md-6">
    <h2><%= render 'chapters/chaptercourse' %></h2>
    <iframe width="300" height="150" src="https://www.youtube.com/embed/3wiBvVu-tNM" frameborder="0" allowfullscreen></iframe>
  </div>
</div>